<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.binw.simplescaffold.mapper.DataProcessMapper" >
   <select id="test01" resultType="java.util.HashMap">
      select * from wa_dict
   </select>

   <select id="test02" resultType="java.lang.String">
      select ch_name from wa_dict limit 1
   </select>
</mapper>